<form class="example-form" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="example-full-width">
      <input type="text" (change)="somethingChanged()" [(ngModel)]="city" placeholder="Enter a city" aria-label="Number" matInput [formControl]="searchCity" [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of searchResult" [value]="item">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
  <label>Date:
    <input (change)="somethingChanged()" name="city" type="date" [(ngModel)]="date" value="{{ today }}" max="{{ today }}" required>
    <p>{{error}}</p>
  </label>
</div>
<input type="submit" value="Let's check the temperature">
</form>


<app-weather-result *ngIf="data" [data]="data" [city]="city" [date]="date"></app-weather-result>
