.main-container {
  margin: 50px 100px;
  background-color: white;
  padding: 10px 40px;
  border-radius: 4px;
}

body {
  background-color: #7FDBFF;
}

h1 {
  margin: 40px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
